<div class="job-details container">
  <h1>
    <span><%= job.jobDesignation %></span> oppurtinity in <%= job.jobLocation %>
    INDIA at <span><%= job.companyName %></span>
  </h1>
  <p class="job-details-title">
    <%= job.companyName %> <% if(userEmail) { %>
    <a href="/jobs/<%= job.id %>/update"
      ><i class="fa-solid fa-pen-to-square"></i
    ></a>
    <a href="/jobs/<%= job.id %>/delete"><i class="fa-solid fa-trash"></i></a>
    <% } %>
  </p>
  <p><%= job.jobCategory %>: <span><%= job.jobDesignation %></span></p>
  <p><i class="fa-solid fa-map-pin"></i><%= job.jobLocation %></p>
  <p><i class="fa-solid fa-indian-rupee-sign"></i><%= job.salary %></p>
  <p><i class="fa-solid fa-hourglass-end"></i>Apply By <%= job.applyBy %></p>
  <p>
    <i class="fa-solid fa-signal"></i>Number of Openings <%= job.openings %>
  </p>
  <p>
    <i class="fa-solid fa-user-group"></i>Applicants <%= job.applicants.length
    %>
  </p>
  <div class="job-details-skill-container">
    <% job.skillsRequired.map((skill, ind) => { %>
    <span class="job-details-skill"><%= skill %></span>
    <% }) %>
  </div>
  <button class="job-details-apply">Apply Now</button>
  <div class="overlay">
    <div class="modalForm">
      <div class="top-bar">
        <p>Easily</p>
        <a href="/jobs/<%= job.id %>"><i class="fa-solid fa-xmark"></i></a>
      </div>
      <form
        method="POST"
        action="/jobs/apply/<%= job.id %>"
        enctype="multipart/form-data"
      >
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="name" name="name" />
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            class="form-control"
            type="email"
            id="email"
            name="email"
            required
          />
        </div>
        <div class="mb-3">
          <label for="contact" class="form-label">Contact</label>
          <input type="text" class="form-control" id="contact" name="contact" />
        </div>
        <div class="mb-3">
          <label for="resume" class="form-label">Resume</label>
          <input
            type="file"
            name="resume"
            id="resume"
            accept="application/pdf"
          />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    // Hide the modal initially
    $(".overlay").hide();

    // Click event for the "Apply Now" link
    $(".job-details-apply").click(function (e) {
      e.preventDefault();
      // Toggle the visibility of the modal
      $(".overlay").toggle();
    });

    // Click event for the close button in the modal
    $(".top-bar a").click(function (e) {
      e.preventDefault();
      // Hide the modal when the close button is clicked
      $(".overlay").hide();
    });
  });
</script>
